@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

.topContainer {
    height: 75vh;
    width: 100%;
    position: relative;
    padding-bottom: 24px;
}

.topContainer .headers {
    position: sticky;
    color: #0F1E73;
    font-family: "Gowun Batang", serif;
    letter-spacing: 2px;
    width: fit-content;
    top: 20%;
    left: 10%;   
}
.topContainer .headers h2,
.topContainer .headers h1{
    width: fit-content;
    font-weight: 500;
    line-height: 1;
    position: relative;
}
.topContainer .headers h1{
    font-size: 6em;
}
.topContainer .headers h2 {
    font-size: 4em;
    animation-delay: 1s;
}
.topContainer .headers h1:before,
.topContainer .headers h2:before {
    content: "";
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: headerEntrance  .5s .6s linear forwards;
}
.topContainer .headers h2:before{
    animation-delay: 1s;
}
@keyframes headerEntrance{
    to {
        height: 0;
    }
}

.topContainer .pageIcon:first-child{
    line-height: 0;
    transform: translateX(-20px);
}
.topContainer .pageIcon {
    font-size: 10em;
    position: absolute;
    left: 60%;
    top: 20%;
    color: #0F1E73;
    width: fit-content;
}
.topContainer .paragraphs {
    position: sticky;
    top: 42%;
    left: 60%;
    width: 450px;
    text-align: start;
    font-size: 1.5em;
    font-family: "Gowun Batang", serif;
    color: #0F1E73;
    font-weight: 100;
    
}
.topContainer .line {
    position: sticky;
    top: 80%;
    width: 90vw;
    height: 1px;
    background: #0F1E73;
    transform: translateX(5%);
}
.gridContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.gridContainer .classGrid {
    width: 90vw;
    columns: 3 auto;
    
    gap: 1.5em;
}

.gridContainer .classGrid .imgItem{    
    cursor: pointer;
    margin-bottom: 1em;
    transition: all .2s ease-in;
}
.gridContainer .classGrid .imgItem:first-child{
    grid-column: span 2;
}
.gridContainer .classGrid .imgItem img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.07rem #0F1E73);
}
.upContainer {
    position: sticky;
    bottom: 100px;
    display: flex;
    justify-content: center;
}
.upButton {
    width: 50px;
    height: 50px;
    font-size: 2em;
    background: white;
    border: 2px solid #0F1E73;
    color: #0F1E73;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upButton:first-child{
}
@media (hover: hover){
    .upButton:hover{
        transform: scale(1.2);
    }
    .gridContainer .classGrid .imgItem:hover{
        transform: scale(1.02);
    }
}
@media screen and (max-width: 1000px) {
    .topContainer{
        transform: translateY(20%);
    }
    .topContainer .pageIcon {
        position: relative;
        left: 5%;        
        top: auto;
    }
    .topContainer .pageIcon:first-child {
        transform: translateX(-12px);
    }
    .topContainer .headers {
        left: 5%;
        top: auto;
    }
    .topContainer .headers h1 {
        font-size: 4em;
    }

    .topContainer .headers h2 {
        font-size: 2.5em;
        animation-delay: 1s;
    }
    .topContainer .paragraphs {
        position: relative;
        left: 5%;
        width: 85vw;
        font-size: 1.2em;
        top: auto;
        transform: translateY(10px);
    }
    .topContainer .line {
        top: 80%;
        width: 90vw;
        height: 1px;
        background: #0F1E73;
        transform: translateX(5%);
    }
    .gridContainer .classGrid {
        display: flex;
        flex-direction: column;
    }
}